.hero {
    background-position: bottom;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
  }
.page-title {
    color: #fce138;
    display: inline-block;
    border-bottom: 4px solid #fce138;
    padding: 0px 80px 15px 80px;
    font-family: normal;
    font-size: 42px;
    font-style: italic;
}
/*
.secondary-content {
    width: 80%;
    text-align: center;
    color: #024e76;
}

.secondary-content h3 {
    font-size: 25px;
    margin: 20px 0px 20px 0px;
}
.secondary-content p {
    font-size: 16px;

}
*/



Style the <p> elements in secondary-content (use nested selectors to target only these <p> elements):

Give it a font-size of 16px.

Make its line-height a little bit bigger by giving it a value of 1.5.

Give it the same margin values you gave the <h3> element.

Style the <ul> elements in secondary-content:

Set the margin to have 15px on the top and bottom and 20px on the left and right.
Style the <li> elements in secondary-content:

Make them stand out from the rest of the text by giving them a color value of #39a6b2.

Give them some space by adding a margin of 10px to the top and bottom, and 0 for left and right.